<div class="card-list-component">
  <div class="search-bar">
    <input
      [(ngModel)]="searchTerm"
      (ngModelChange)="searchBar()"
      type="text"
      id="search"
    />
  </div>

  <form class="filters" [formGroup]="form">
    <select
      name="types"
      class="dropdown"
      (change)="filterPokemon()"
      formControlName="type"
    >
      <option value="" selected>select a type</option>
      <option *ngFor="let type of typeList" [ngValue]="type">
        {{ type.name }}
      </option>
    </select>
    <select
    name="generations"
    class="dropdown"
    (change)="setGeneration()"
    formControlName="generation"
  >
    <option value="" selected>select a generation</option>
    <option *ngFor="let generation of generations" [ngValue]="generation">
      {{ generation.name }}
    </option>
  </select>
  </form>
  <div class="card-list">
    <div class="card-container" *ngFor="let pokemon of pokemonList">
      <app-card [pokemon]="pokemon"></app-card>
    </div>
  </div>
</div>
