.card-list-component {
  display: flex;
  flex-direction: column;
  background-color: skyblue;

.search-bar {
  margin: auto;
  input{
    border-radius: 0.5rem;
    border: 1px solid grey;
    width: 20rem;
    height: 2rem;
  }
}

  .list-title{
    color: white;
    text-align: center;
  }

.card-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .card-container {
    margin: 1rem;
  }
}

}
